* { margin: 0; box-sizing: border-box }
html { background-color: #004e7e; color: #fff }
body { font-family: "Segoe UI", sans-serif }
.body-wrapper { max-width: 1000px; margin: 0 auto; padding: 24px }
.section { padding-bottom: 48px }
.section h2 { padding-bottom: 8px }
.custom-chart { display: grid; align-items: center; grid-template-columns: auto 1fr; gap: 12px }
.custom-chart-value {
    border-radius: 12px; padding: 16px;
    white-space: nowrap; text-overflow: ellipsis; text-shadow: 0 0 5px white;
}
.custom-chart-style1 .custom-chart-value { background-color: #fff95c; color: #000 }
.custom-chart-style2 .custom-chart-value { background-color: #ff5ca0; color: #000 }

.leaderboard { display: flex; gap: 16px 8px; justify-content: space-between; flex-wrap: wrap }
.leaderboard > div { display: flex; width: 170px; height: 170px; border-radius: 12px; overflow: hidden; position: relative; align-items: center; justify-content: center }
.leaderboard > div img { display: block; width: 170px; height: 170px; position: absolute; object-fit: contain; filter: brightness(0.5) }
.leaderboard > div p { z-index: 1; font-weight: bold; font: 24px "JetBrains Mono", monospace }

.history { display: flex; gap: 16px; justify-content: space-between; flex-wrap: wrap }
.history > img { display: block; width: 120px; height: 120px; object-fit: contain; border-radius: 12px; overflow: hidden }

.units-selector { display: flex; gap: 16px; flex-wrap: wrap; align-items: center }
